In [151]:
import numpy as np
import pandas as pd

In [179]:
df = pd.read_csv("inv-banker.csv")
df.head()

,Link,Job Title,Company,Salary,Location,Experience,Skills,Day Posted
0,https://www.naukri.com/job-listings-investment...,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,Mumbai (All Areas),2-7 Yrs,"IPO, Investment Banking, Merchant Banking, Due...",2022-01
1,https://www.naukri.com/job-listings-investment...,Investment Banker (IPO),Pride Hotels,Not disclosed,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01
2,https://www.naukri.com/job-listings-investment...,Investment Banker,Fashion Tv,Not disclosed,Mumbai,1-5 Yrs,"Due diligence, Client relationship management,...",2022-01
3,https://www.naukri.com/job-listings-investment...,Investment Banker,Prakhar Software,Not disclosed,New Delhi,2-4 Yrs,"Sales, Financial reporting, Financial analysis...",2022-01
4,https://www.naukri.com/job-listings-investment...,Investment Banker,Rising Capital Group,Not disclosed,"Gandhinagar, Ahmedabad",2-5 Yrs,"Financial analysis, Management, Fund raising, ...",2022-01

In [180]:
df.shape

(4556, 8)

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4556 entries, 0 to 4555
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Link        4556 non-null   object
 1   Job Title   4556 non-null   object
 2   Company     4556 non-null   object
 3   Salary      4556 non-null   object
 4   Location    4556 non-null   object
 5   Experience  4556 non-null   object
 6   Skills      4556 non-null   object
 7   Day Posted  4556 non-null   object
dtypes: object(8)
memory usage: 284.9+ KB

In [182]:
df.describe()

,Link,Job Title,Company,Salary,Location,Experience,Skills,Day Posted
count,4556,4556,4556,4556,4556,4556,4556,4556
unique,39,28,16,13,22,734,23,36
top,https://www.naukri.com/job-listings-walk-in-dr...,"Banking Payroll Jobs. Salary 15k To 29K, Locat...",HY Fly Consultancy,3-4 Lacs PA,Navi Mumbai,0-5 Yrs,"Email, graduate, Email Etiquette, Word, NRI, e...",2024-07
freq,767,1532,3770,2345,1723,3773,2674,311

In [183]:
print(df['Salary'].value_counts())
(df['Experience'].value_counts())

Salary
3-4 Lacs PA           2345
4.25-4.5 Lacs PA       908
2.5-3 Lacs PA          768
3-3.25 Lacs PA         329
3-3.5 Lacs PA          141
3-4.5 Lacs PA           47
Not disclosed           12
8-18 Lacs PA             1
2.25-5 Lacs PA           1
50,000-2.5 Lacs PA       1
2.5-2.75 Lacs PA         1
2-2.5 Lacs PA            1
Unpaid                   1
Name: count, dtype: int64

Experience
0-5 Yrs             3773
18 Mar - 19 Mar       48
0-3 Yrs                2
0-1 Yrs                2
0-2 Yrs                2
                    ...
254 Mar - 19 Mar       1
255 Mar - 19 Mar       1
256 Mar - 19 Mar       1
257 Mar - 19 Mar       1
737 Mar - 19 Mar       1
Name: count, Length: 734, dtype: int64

In [184]:
import numpy as np
import re

# Function to extract numeric values from a string
def extract_numbers(s):
    return list(map(int, re.findall(r'\d+', s))) if re.findall(r'\d+', s) else None

# Function to compute the median salary for each experience range
def compute_experience_salary_mapping(df):
    exp_salary = {}
    
    for exp in df['Experience'].unique():
        salaries = []
        for s in df.loc[df['Experience'] == exp, 'Salary']:
            nums = extract_numbers(s)
            if nums:
                salaries.append(np.mean(nums))
        
        if salaries:
            exp_salary[exp] = np.median(salaries)
    
    return exp_salary

# Function to enforce salary hierarchy (lower exp → lower salary, higher exp → higher salary)
def enforce_salary_hierarchy(exp_salary):
    # Extract min years from each experience range and sort
    exp_ranges = []
    for exp in exp_salary.keys():
        nums = extract_numbers(exp)
        if nums:
            min_exp = min(nums)
            exp_ranges.append((min_exp, exp))
    
    # Sort by minimum experience
    exp_ranges.sort(key=lambda x: x[0])
    
    # Ensure salaries are non-decreasing with experience
    prev_salary = -1
    for min_exp, exp in exp_ranges:
        if exp_salary[exp] < prev_salary:
            exp_salary[exp] = prev_salary  # Adjust to maintain hierarchy
        prev_salary = exp_salary[exp]
    
    return exp_salary

# Compute median salary per experience (with hierarchy enforcement)
salary_dict = compute_experience_salary_mapping(df)
salary_dict = enforce_salary_hierarchy(salary_dict)

# Overall median salary (fallback)
valid_salaries = [np.mean(extract_numbers(s)) for s in df['Salary'] if extract_numbers(s)]
overall_median = np.median(valid_salaries) if valid_salaries else 0

# Function to find the closest experience range (ensuring salary consistency)
def find_closest_experience(exp, salary_dict):
    exp_nums = extract_numbers(exp)
    if not exp_nums:
        return None
    
    min_exp = min(exp_nums)
    closest_exp = None
    min_diff = float('inf')
    
    for key in salary_dict.keys():
        key_nums = extract_numbers(key)
        if not key_nums:
            continue
        
        key_min_exp = min(key_nums)
        diff = abs(min_exp - key_min_exp)
        
        if diff < min_diff:
            min_diff = diff
            closest_exp = key
    
    return closest_exp

# Function to impute missing salaries (Not disclosed / Unpaid)
def impute_missing_salary(row, salary_dict, overall_median):
    if row['Salary'] in ('Not disclosed', 'Unpaid'):
        exp = row['Experience']
        
        # Exact match
        if exp in salary_dict:
            median_salary = salary_dict[exp]
        else:
            # Find closest experience
            closest_exp = find_closest_experience(exp, salary_dict)
            if closest_exp:
                median_salary = salary_dict[closest_exp]
            else:
                median_salary = overall_median
        
        # Format as "X-Y Lacs PA"
        return f"{int(median_salary)-2}-{int(median_salary)+2} Lacs PA"
    
    return row['Salary']

# Apply imputation
df['Salary'] = df.apply(
    lambda row: impute_missing_salary(row, salary_dict, overall_median), 
    axis=1
)

# Verify results
print("\nSalary distribution after imputation:")
print(df['Salary'].value_counts())

print("\nMedian salaries by experience (ensuring hierarchy):")
for exp in sorted(salary_dict.keys(), key=lambda x: min(extract_numbers(x)) if extract_numbers(x) else 0):
    print(f"{exp}: {salary_dict[exp]:.1f} Lacs")

Salary distribution after imputation:
Salary
3-4 Lacs PA           2345
4.25-4.5 Lacs PA       908
2.5-3 Lacs PA          768
3-3.25 Lacs PA         329
3-3.5 Lacs PA          141
3-4.5 Lacs PA           47
19-23 Lacs PA            7
12-16 Lacs PA            5
8-18 Lacs PA             1
2.25-5 Lacs PA           1
50,000-2.5 Lacs PA       1
2.5-2.75 Lacs PA         1
2-2.5 Lacs PA            1
1-5 Lacs PA              1
Name: count, dtype: int64

Median salaries by experience (ensuring hierarchy):
0-1 Yrs: 14.2 Lacs
0-5 Yrs: 14.2 Lacs
0-2 Yrs: 21.0 Lacs
2-7 Yrs: 21.0 Lacs
07 Mar - 16 Mar: 21.0 Lacs
17 Mar - 18 Mar: 21.0 Lacs
18 Mar - 19 Mar: 21.0 Lacs
19 Mar - 19 Mar: 21.0 Lacs
20 Mar - 19 Mar: 21.0 Lacs
21 Mar - 19 Mar: 21.0 Lacs
22 Mar - 19 Mar: 21.0 Lacs
23 Mar - 19 Mar: 21.0 Lacs
24 Mar - 19 Mar: 21.0 Lacs
25 Mar - 19 Mar: 21.0 Lacs
26 Mar - 19 Mar: 21.0 Lacs
27 Mar - 19 Mar: 21.0 Lacs
28 Mar - 19 Mar: 21.0 Lacs
29 Mar - 19 Mar: 21.0 Lacs
30 Mar - 19 Mar: 21.0 Lacs
31 Mar - 19 Mar: 21.0 Lacs
32 Mar - 19 Mar: 21.0 Lacs
33 Mar - 19 Mar: 21.0 Lacs
34 Mar - 19 Mar: 21.0 Lacs
35 Mar - 19 Mar: 21.0 Lacs
36 Mar - 19 Mar: 21.0 Lacs
37 Mar - 19 Mar: 21.0 Lacs
38 Mar - 19 Mar: 21.0 Lacs
39 Mar - 19 Mar: 21.0 Lacs
40 Mar - 19 Mar: 21.0 Lacs
41 Mar - 19 Mar: 21.0 Lacs
42 Mar - 19 Mar: 21.0 Lacs
43 Mar - 19 Mar: 21.0 Lacs
44 Mar - 19 Mar: 21.0 Lacs
45 Mar - 19 Mar: 21.0 Lacs
46 Mar - 19 Mar: 21.0 Lacs
47 Mar - 19 Mar: 21.0 Lacs
48 Mar - 19 Mar: 21.0 Lacs
49 Mar - 19 Mar: 21.0 Lacs
50 Mar - 19 Mar: 21.0 Lacs
51 Mar - 19 Mar: 21.0 Lacs
52 Mar - 19 Mar: 21.0 Lacs
53 Mar - 19 Mar: 21.0 Lacs
54 Mar - 19 Mar: 21.0 Lacs
55 Mar - 19 Mar: 21.0 Lacs
56 Mar - 19 Mar: 21.0 Lacs
57 Mar - 19 Mar: 21.0 Lacs
58 Mar - 19 Mar: 21.0 Lacs
59 Mar - 19 Mar: 21.0 Lacs
60 Mar - 19 Mar: 21.0 Lacs
61 Mar - 19 Mar: 21.0 Lacs
62 Mar - 19 Mar: 21.0 Lacs
63 Mar - 19 Mar: 21.0 Lacs
64 Mar - 19 Mar: 21.0 Lacs
65 Mar - 19 Mar: 21.0 Lacs
66 Mar - 19 Mar: 21.0 Lacs
67 Mar - 19 Mar: 21.0 Lacs
68 Mar - 19 Mar: 21.0 Lacs
69 Mar - 19 Mar: 21.0 Lacs
70 Mar - 19 Mar: 21.0 Lacs
71 Mar - 19 Mar: 21.0 Lacs
72 Mar - 19 Mar: 21.0 Lacs
73 Mar - 19 Mar: 21.0 Lacs
74 Mar - 19 Mar: 21.0 Lacs
75 Mar - 19 Mar: 21.0 Lacs
76 Mar - 19 Mar: 21.0 Lacs
77 Mar - 19 Mar: 21.0 Lacs
78 Mar - 19 Mar: 21.0 Lacs
79 Mar - 19 Mar: 21.0 Lacs
80 Mar - 19 Mar: 21.0 Lacs
81 Mar - 19 Mar: 21.0 Lacs
82 Mar - 19 Mar: 21.0 Lacs
83 Mar - 19 Mar: 21.0 Lacs
84 Mar - 19 Mar: 21.0 Lacs
85 Mar - 19 Mar: 21.0 Lacs
86 Mar - 19 Mar: 21.0 Lacs
87 Mar - 19 Mar: 21.0 Lacs
88 Mar - 19 Mar: 21.0 Lacs
89 Mar - 19 Mar: 21.0 Lacs
90 Mar - 19 Mar: 21.0 Lacs
91 Mar - 19 Mar: 21.0 Lacs
92 Mar - 19 Mar: 21.0 Lacs
93 Mar - 19 Mar: 21.0 Lacs
94 Mar - 19 Mar: 21.0 Lacs
95 Mar - 19 Mar: 21.0 Lacs
96 Mar - 19 Mar: 21.0 Lacs
97 Mar - 19 Mar: 21.0 Lacs
98 Mar - 19 Mar: 21.0 Lacs
99 Mar - 19 Mar: 21.0 Lacs
100 Mar - 19 Mar: 21.0 Lacs
101 Mar - 19 Mar: 21.0 Lacs
102 Mar - 19 Mar: 21.0 Lacs
103 Mar - 19 Mar: 21.0 Lacs
104 Mar - 19 Mar: 21.0 Lacs
105 Mar - 19 Mar: 21.0 Lacs
106 Mar - 19 Mar: 21.0 Lacs
107 Mar - 19 Mar: 21.0 Lacs
108 Mar - 19 Mar: 21.0 Lacs
109 Mar - 19 Mar: 21.0 Lacs
110 Mar - 19 Mar: 21.0 Lacs
111 Mar - 19 Mar: 21.0 Lacs
112 Mar - 19 Mar: 21.0 Lacs
113 Mar - 19 Mar: 21.0 Lacs
114 Mar - 19 Mar: 21.0 Lacs
115 Mar - 19 Mar: 21.0 Lacs
116 Mar - 19 Mar: 21.0 Lacs
117 Mar - 19 Mar: 21.0 Lacs
118 Mar - 19 Mar: 21.0 Lacs
119 Mar - 19 Mar: 21.0 Lacs
120 Mar - 19 Mar: 21.0 Lacs
121 Mar - 19 Mar: 21.0 Lacs
122 Mar - 19 Mar: 21.0 Lacs
123 Mar - 19 Mar: 21.0 Lacs
124 Mar - 19 Mar: 21.0 Lacs
125 Mar - 19 Mar: 21.0 Lacs
126 Mar - 19 Mar: 21.0 Lacs
127 Mar - 19 Mar: 21.0 Lacs
128 Mar - 19 Mar: 21.0 Lacs
129 Mar - 19 Mar: 21.0 Lacs
130 Mar - 19 Mar: 21.0 Lacs
131 Mar - 19 Mar: 21.0 Lacs
132 Mar - 19 Mar: 21.0 Lacs
133 Mar - 19 Mar: 21.0 Lacs
134 Mar - 19 Mar: 21.0 Lacs
135 Mar - 19 Mar: 21.0 Lacs
136 Mar - 19 Mar: 21.0 Lacs
137 Mar - 19 Mar: 21.0 Lacs
138 Mar - 19 Mar: 21.0 Lacs
139 Mar - 19 Mar: 21.0 Lacs
140 Mar - 19 Mar: 21.0 Lacs
141 Mar - 19 Mar: 21.0 Lacs
142 Mar - 19 Mar: 21.0 Lacs
143 Mar - 19 Mar: 21.0 Lacs
144 Mar - 19 Mar: 21.0 Lacs
145 Mar - 19 Mar: 21.0 Lacs
146 Mar - 19 Mar: 21.0 Lacs
147 Mar - 19 Mar: 21.0 Lacs
148 Mar - 19 Mar: 21.0 Lacs
149 Mar - 19 Mar: 21.0 Lacs
150 Mar - 19 Mar: 21.0 Lacs
151 Mar - 19 Mar: 21.0 Lacs
152 Mar - 19 Mar: 21.0 Lacs
153 Mar - 19 Mar: 21.0 Lacs
154 Mar - 19 Mar: 21.0 Lacs
155 Mar - 19 Mar: 21.0 Lacs
156 Mar - 19 Mar: 21.0 Lacs
157 Mar - 19 Mar: 21.0 Lacs
158 Mar - 19 Mar: 21.0 Lacs
159 Mar - 19 Mar: 21.0 Lacs
160 Mar - 19 Mar: 21.0 Lacs
161 Mar - 19 Mar: 21.0 Lacs
162 Mar - 19 Mar: 21.0 Lacs
163 Mar - 19 Mar: 21.0 Lacs
164 Mar - 19 Mar: 21.0 Lacs
165 Mar - 19 Mar: 21.0 Lacs
166 Mar - 19 Mar: 21.0 Lacs
167 Mar - 19 Mar: 21.0 Lacs
168 Mar - 19 Mar: 21.0 Lacs
169 Mar - 19 Mar: 21.0 Lacs
170 Mar - 19 Mar: 21.0 Lacs
171 Mar - 19 Mar: 21.0 Lacs
172 Mar - 19 Mar: 21.0 Lacs
173 Mar - 19 Mar: 21.0 Lacs
174 Mar - 19 Mar: 21.0 Lacs
175 Mar - 19 Mar: 21.0 Lacs
176 Mar - 19 Mar: 21.0 Lacs
177 Mar - 19 Mar: 21.0 Lacs
178 Mar - 19 Mar: 21.0 Lacs
179 Mar - 19 Mar: 21.0 Lacs
180 Mar - 19 Mar: 21.0 Lacs
181 Mar - 19 Mar: 21.0 Lacs
182 Mar - 19 Mar: 21.0 Lacs
183 Mar - 19 Mar: 21.0 Lacs
184 Mar - 19 Mar: 21.0 Lacs
185 Mar - 19 Mar: 21.0 Lacs
186 Mar - 19 Mar: 21.0 Lacs
187 Mar - 19 Mar: 21.0 Lacs
188 Mar - 19 Mar: 21.0 Lacs
189 Mar - 19 Mar: 21.0 Lacs
190 Mar - 19 Mar: 21.0 Lacs
191 Mar - 19 Mar: 21.0 Lacs
192 Mar - 19 Mar: 21.0 Lacs
193 Mar - 19 Mar: 21.0 Lacs
194 Mar - 19 Mar: 21.0 Lacs
195 Mar - 19 Mar: 21.0 Lacs
196 Mar - 19 Mar: 21.0 Lacs
197 Mar - 19 Mar: 21.0 Lacs
198 Mar - 19 Mar: 21.0 Lacs
199 Mar - 19 Mar: 21.0 Lacs
200 Mar - 19 Mar: 21.0 Lacs
201 Mar - 19 Mar: 21.0 Lacs
202 Mar - 19 Mar: 21.0 Lacs
203 Mar - 19 Mar: 21.0 Lacs
204 Mar - 19 Mar: 21.0 Lacs
205 Mar - 19 Mar: 21.0 Lacs
206 Mar - 19 Mar: 21.0 Lacs
207 Mar - 19 Mar: 21.0 Lacs
208 Mar - 19 Mar: 21.0 Lacs
209 Mar - 19 Mar: 21.0 Lacs
210 Mar - 19 Mar: 21.0 Lacs
211 Mar - 19 Mar: 21.0 Lacs
212 Mar - 19 Mar: 21.0 Lacs
213 Mar - 19 Mar: 21.0 Lacs
214 Mar - 19 Mar: 21.0 Lacs
215 Mar - 19 Mar: 21.0 Lacs
216 Mar - 19 Mar: 21.0 Lacs
217 Mar - 19 Mar: 21.0 Lacs
218 Mar - 19 Mar: 21.0 Lacs
219 Mar - 19 Mar: 21.0 Lacs
220 Mar - 19 Mar: 21.0 Lacs
221 Mar - 19 Mar: 21.0 Lacs
222 Mar - 19 Mar: 21.0 Lacs
223 Mar - 19 Mar: 21.0 Lacs
224 Mar - 19 Mar: 21.0 Lacs
225 Mar - 19 Mar: 21.0 Lacs
226 Mar - 19 Mar: 21.0 Lacs
227 Mar - 19 Mar: 21.0 Lacs
228 Mar - 19 Mar: 21.0 Lacs
229 Mar - 19 Mar: 21.0 Lacs
230 Mar - 19 Mar: 21.0 Lacs
231 Mar - 19 Mar: 21.0 Lacs
232 Mar - 19 Mar: 21.0 Lacs
233 Mar - 19 Mar: 21.0 Lacs
234 Mar - 19 Mar: 21.0 Lacs
235 Mar - 19 Mar: 21.0 Lacs
236 Mar - 19 Mar: 21.0 Lacs
237 Mar - 19 Mar: 21.0 Lacs
238 Mar - 19 Mar: 21.0 Lacs
239 Mar - 19 Mar: 21.0 Lacs
240 Mar - 19 Mar: 21.0 Lacs
241 Mar - 19 Mar: 21.0 Lacs
242 Mar - 19 Mar: 21.0 Lacs
243 Mar - 19 Mar: 21.0 Lacs
244 Mar - 19 Mar: 21.0 Lacs
245 Mar - 19 Mar: 21.0 Lacs
246 Mar - 19 Mar: 21.0 Lacs
247 Mar - 19 Mar: 21.0 Lacs
248 Mar - 19 Mar: 21.0 Lacs
249 Mar - 19 Mar: 21.0 Lacs
250 Mar - 19 Mar: 21.0 Lacs
251 Mar - 19 Mar: 21.0 Lacs
252 Mar - 19 Mar: 21.0 Lacs
253 Mar - 19 Mar: 21.0 Lacs
254 Mar - 19 Mar: 21.0 Lacs
255 Mar - 19 Mar: 21.0 Lacs
256 Mar - 19 Mar: 21.0 Lacs
257 Mar - 19 Mar: 21.0 Lacs
258 Mar - 19 Mar: 21.0 Lacs
259 Mar - 19 Mar: 21.0 Lacs
260 Mar - 19 Mar: 21.0 Lacs
261 Mar - 19 Mar: 21.0 Lacs
262 Mar - 19 Mar: 21.0 Lacs
263 Mar - 19 Mar: 21.0 Lacs
264 Mar - 19 Mar: 21.0 Lacs
265 Mar - 19 Mar: 21.0 Lacs
266 Mar - 19 Mar: 21.0 Lacs
267 Mar - 19 Mar: 21.0 Lacs
268 Mar - 19 Mar: 21.0 Lacs
269 Mar - 19 Mar: 21.0 Lacs
270 Mar - 19 Mar: 21.0 Lacs
271 Mar - 19 Mar: 21.0 Lacs
272 Mar - 19 Mar: 21.0 Lacs
273 Mar - 19 Mar: 21.0 Lacs
274 Mar - 19 Mar: 21.0 Lacs
275 Mar - 19 Mar: 21.0 Lacs
276 Mar - 19 Mar: 21.0 Lacs
277 Mar - 19 Mar: 21.0 Lacs
278 Mar - 19 Mar: 21.0 Lacs
279 Mar - 19 Mar: 21.0 Lacs
280 Mar - 19 Mar: 21.0 Lacs
281 Mar - 19 Mar: 21.0 Lacs
282 Mar - 19 Mar: 21.0 Lacs
283 Mar - 19 Mar: 21.0 Lacs
284 Mar - 19 Mar: 21.0 Lacs
285 Mar - 19 Mar: 21.0 Lacs
286 Mar - 19 Mar: 21.0 Lacs
287 Mar - 19 Mar: 21.0 Lacs
288 Mar - 19 Mar: 21.0 Lacs
289 Mar - 19 Mar: 21.0 Lacs
290 Mar - 19 Mar: 21.0 Lacs
291 Mar - 19 Mar: 21.0 Lacs
292 Mar - 19 Mar: 21.0 Lacs
293 Mar - 19 Mar: 21.0 Lacs
294 Mar - 19 Mar: 21.0 Lacs
295 Mar - 19 Mar: 21.0 Lacs
296 Mar - 19 Mar: 21.0 Lacs
297 Mar - 19 Mar: 21.0 Lacs
298 Mar - 19 Mar: 21.0 Lacs
299 Mar - 19 Mar: 21.0 Lacs
300 Mar - 19 Mar: 21.0 Lacs
301 Mar - 19 Mar: 21.0 Lacs
302 Mar - 19 Mar: 21.0 Lacs
303 Mar - 19 Mar: 21.0 Lacs
304 Mar - 19 Mar: 21.0 Lacs
305 Mar - 19 Mar: 21.0 Lacs
306 Mar - 19 Mar: 21.0 Lacs
307 Mar - 19 Mar: 21.0 Lacs
308 Mar - 19 Mar: 21.0 Lacs
309 Mar - 19 Mar: 21.0 Lacs
310 Mar - 19 Mar: 21.0 Lacs
311 Mar - 19 Mar: 21.0 Lacs
312 Mar - 19 Mar: 21.0 Lacs
313 Mar - 19 Mar: 21.0 Lacs
314 Mar - 19 Mar: 21.0 Lacs
315 Mar - 19 Mar: 21.0 Lacs
316 Mar - 19 Mar: 21.0 Lacs
317 Mar - 19 Mar: 21.0 Lacs
318 Mar - 19 Mar: 21.0 Lacs
319 Mar - 19 Mar: 21.0 Lacs
320 Mar - 19 Mar: 21.0 Lacs
321 Mar - 19 Mar: 21.0 Lacs
322 Mar - 19 Mar: 21.0 Lacs
323 Mar - 19 Mar: 21.0 Lacs
324 Mar - 19 Mar: 21.0 Lacs
325 Mar - 19 Mar: 21.0 Lacs
326 Mar - 19 Mar: 21.0 Lacs
327 Mar - 19 Mar: 21.0 Lacs
328 Mar - 19 Mar: 21.0 Lacs
329 Mar - 19 Mar: 21.0 Lacs
330 Mar - 19 Mar: 21.0 Lacs
331 Mar - 19 Mar: 21.0 Lacs
332 Mar - 19 Mar: 21.0 Lacs
333 Mar - 19 Mar: 21.0 Lacs
334 Mar - 19 Mar: 21.0 Lacs
335 Mar - 19 Mar: 21.0 Lacs
336 Mar - 19 Mar: 21.0 Lacs
337 Mar - 19 Mar: 21.0 Lacs
338 Mar - 19 Mar: 21.0 Lacs
339 Mar - 19 Mar: 21.0 Lacs
340 Mar - 19 Mar: 21.0 Lacs
341 Mar - 19 Mar: 21.0 Lacs
342 Mar - 19 Mar: 21.0 Lacs
343 Mar - 19 Mar: 21.0 Lacs
344 Mar - 19 Mar: 21.0 Lacs
345 Mar - 19 Mar: 21.0 Lacs
346 Mar - 19 Mar: 21.0 Lacs
347 Mar - 19 Mar: 21.0 Lacs
348 Mar - 19 Mar: 21.0 Lacs
349 Mar - 19 Mar: 21.0 Lacs
350 Mar - 19 Mar: 21.0 Lacs
351 Mar - 19 Mar: 21.0 Lacs
352 Mar - 19 Mar: 21.0 Lacs
353 Mar - 19 Mar: 21.0 Lacs
354 Mar - 19 Mar: 21.0 Lacs
355 Mar - 19 Mar: 21.0 Lacs
356 Mar - 19 Mar: 21.0 Lacs
357 Mar - 19 Mar: 21.0 Lacs
358 Mar - 19 Mar: 21.0 Lacs
359 Mar - 19 Mar: 21.0 Lacs
360 Mar - 19 Mar: 21.0 Lacs
361 Mar - 19 Mar: 21.0 Lacs
362 Mar - 19 Mar: 21.0 Lacs
363 Mar - 19 Mar: 21.0 Lacs
364 Mar - 19 Mar: 21.0 Lacs
365 Mar - 19 Mar: 21.0 Lacs
366 Mar - 19 Mar: 21.0 Lacs
367 Mar - 19 Mar: 21.0 Lacs
368 Mar - 19 Mar: 21.0 Lacs
369 Mar - 19 Mar: 21.0 Lacs
370 Mar - 19 Mar: 21.0 Lacs
371 Mar - 19 Mar: 21.0 Lacs
372 Mar - 19 Mar: 21.0 Lacs
373 Mar - 19 Mar: 21.0 Lacs
374 Mar - 19 Mar: 21.0 Lacs
375 Mar - 19 Mar: 21.0 Lacs
376 Mar - 19 Mar: 21.0 Lacs
377 Mar - 19 Mar: 21.0 Lacs
378 Mar - 19 Mar: 21.0 Lacs
379 Mar - 19 Mar: 21.0 Lacs
380 Mar - 19 Mar: 21.0 Lacs
381 Mar - 19 Mar: 21.0 Lacs
382 Mar - 19 Mar: 21.0 Lacs
383 Mar - 19 Mar: 21.0 Lacs
384 Mar - 19 Mar: 21.0 Lacs
385 Mar - 19 Mar: 21.0 Lacs
386 Mar - 19 Mar: 21.0 Lacs
387 Mar - 19 Mar: 21.0 Lacs
388 Mar - 19 Mar: 21.0 Lacs
389 Mar - 19 Mar: 21.0 Lacs
390 Mar - 19 Mar: 21.0 Lacs
391 Mar - 19 Mar: 21.0 Lacs
392 Mar - 19 Mar: 21.0 Lacs
393 Mar - 19 Mar: 21.0 Lacs
394 Mar - 19 Mar: 21.0 Lacs
395 Mar - 19 Mar: 21.0 Lacs
396 Mar - 19 Mar: 21.0 Lacs
397 Mar - 19 Mar: 21.0 Lacs
398 Mar - 19 Mar: 21.0 Lacs
399 Mar - 19 Mar: 21.0 Lacs
400 Mar - 19 Mar: 21.0 Lacs
401 Mar - 19 Mar: 21.0 Lacs
402 Mar - 19 Mar: 21.0 Lacs
403 Mar - 19 Mar: 21.0 Lacs
404 Mar - 19 Mar: 21.0 Lacs
405 Mar - 19 Mar: 21.0 Lacs
406 Mar - 19 Mar: 21.0 Lacs
407 Mar - 19 Mar: 21.0 Lacs
408 Mar - 19 Mar: 21.0 Lacs
409 Mar - 19 Mar: 21.0 Lacs
410 Mar - 19 Mar: 21.0 Lacs
411 Mar - 19 Mar: 21.0 Lacs
412 Mar - 19 Mar: 21.0 Lacs
413 Mar - 19 Mar: 21.0 Lacs
414 Mar - 19 Mar: 21.0 Lacs
415 Mar - 19 Mar: 21.0 Lacs
416 Mar - 19 Mar: 21.0 Lacs
417 Mar - 19 Mar: 21.0 Lacs
418 Mar - 19 Mar: 21.0 Lacs
419 Mar - 19 Mar: 21.0 Lacs
420 Mar - 19 Mar: 21.0 Lacs
421 Mar - 19 Mar: 21.0 Lacs
422 Mar - 19 Mar: 21.0 Lacs
423 Mar - 19 Mar: 21.0 Lacs
424 Mar - 19 Mar: 21.0 Lacs
425 Mar - 19 Mar: 21.0 Lacs
426 Mar - 19 Mar: 21.0 Lacs
427 Mar - 19 Mar: 21.0 Lacs
428 Mar - 19 Mar: 21.0 Lacs
429 Mar - 19 Mar: 21.0 Lacs
430 Mar - 19 Mar: 21.0 Lacs
431 Mar - 19 Mar: 21.0 Lacs
432 Mar - 19 Mar: 21.0 Lacs
433 Mar - 19 Mar: 21.0 Lacs
434 Mar - 19 Mar: 21.0 Lacs
435 Mar - 19 Mar: 21.0 Lacs
436 Mar - 19 Mar: 21.0 Lacs
437 Mar - 19 Mar: 21.0 Lacs
438 Mar - 19 Mar: 21.0 Lacs
439 Mar - 19 Mar: 21.0 Lacs
440 Mar - 19 Mar: 21.0 Lacs
441 Mar - 19 Mar: 21.0 Lacs
442 Mar - 19 Mar: 21.0 Lacs
443 Mar - 19 Mar: 21.0 Lacs
444 Mar - 19 Mar: 21.0 Lacs
445 Mar - 19 Mar: 21.0 Lacs
446 Mar - 19 Mar: 21.0 Lacs
447 Mar - 19 Mar: 21.0 Lacs
448 Mar - 19 Mar: 21.0 Lacs
449 Mar - 19 Mar: 21.0 Lacs
450 Mar - 19 Mar: 21.0 Lacs
451 Mar - 19 Mar: 21.0 Lacs
452 Mar - 19 Mar: 21.0 Lacs
453 Mar - 19 Mar: 21.0 Lacs
454 Mar - 19 Mar: 21.0 Lacs
455 Mar - 19 Mar: 21.0 Lacs
456 Mar - 19 Mar: 21.0 Lacs
457 Mar - 19 Mar: 21.0 Lacs
458 Mar - 19 Mar: 21.0 Lacs
459 Mar - 19 Mar: 21.0 Lacs
460 Mar - 19 Mar: 21.0 Lacs
461 Mar - 19 Mar: 21.0 Lacs
462 Mar - 19 Mar: 21.0 Lacs
463 Mar - 19 Mar: 21.0 Lacs
464 Mar - 19 Mar: 21.0 Lacs
465 Mar - 19 Mar: 21.0 Lacs
466 Mar - 19 Mar: 21.0 Lacs
467 Mar - 19 Mar: 21.0 Lacs
468 Mar - 19 Mar: 21.0 Lacs
469 Mar - 19 Mar: 21.0 Lacs
470 Mar - 19 Mar: 21.0 Lacs
471 Mar - 19 Mar: 21.0 Lacs
472 Mar - 19 Mar: 21.0 Lacs
473 Mar - 19 Mar: 21.0 Lacs
474 Mar - 19 Mar: 21.0 Lacs
475 Mar - 19 Mar: 21.0 Lacs
476 Mar - 19 Mar: 21.0 Lacs
477 Mar - 19 Mar: 21.0 Lacs
478 Mar - 19 Mar: 21.0 Lacs
479 Mar - 19 Mar: 21.0 Lacs
480 Mar - 19 Mar: 21.0 Lacs
481 Mar - 19 Mar: 21.0 Lacs
482 Mar - 19 Mar: 21.0 Lacs
483 Mar - 19 Mar: 21.0 Lacs
484 Mar - 19 Mar: 21.0 Lacs
485 Mar - 19 Mar: 21.0 Lacs
486 Mar - 19 Mar: 21.0 Lacs
487 Mar - 19 Mar: 21.0 Lacs
488 Mar - 19 Mar: 21.0 Lacs
489 Mar - 19 Mar: 21.0 Lacs
490 Mar - 19 Mar: 21.0 Lacs
491 Mar - 19 Mar: 21.0 Lacs
492 Mar - 19 Mar: 21.0 Lacs
493 Mar - 19 Mar: 21.0 Lacs
494 Mar - 19 Mar: 21.0 Lacs
495 Mar - 19 Mar: 21.0 Lacs
496 Mar - 19 Mar: 21.0 Lacs
497 Mar - 19 Mar: 21.0 Lacs
498 Mar - 19 Mar: 21.0 Lacs
499 Mar - 19 Mar: 21.0 Lacs
500 Mar - 19 Mar: 21.0 Lacs
501 Mar - 19 Mar: 21.0 Lacs
502 Mar - 19 Mar: 21.0 Lacs
503 Mar - 19 Mar: 21.0 Lacs
504 Mar - 19 Mar: 21.0 Lacs
505 Mar - 19 Mar: 21.0 Lacs
506 Mar - 19 Mar: 21.0 Lacs
507 Mar - 19 Mar: 21.0 Lacs
508 Mar - 19 Mar: 21.0 Lacs
509 Mar - 19 Mar: 21.0 Lacs
510 Mar - 19 Mar: 21.0 Lacs
511 Mar - 19 Mar: 21.0 Lacs
512 Mar - 19 Mar: 21.0 Lacs
513 Mar - 19 Mar: 21.0 Lacs
514 Mar - 19 Mar: 21.0 Lacs
515 Mar - 19 Mar: 21.0 Lacs
516 Mar - 19 Mar: 21.0 Lacs
517 Mar - 19 Mar: 21.0 Lacs
518 Mar - 19 Mar: 21.0 Lacs
519 Mar - 19 Mar: 21.0 Lacs
520 Mar - 19 Mar: 21.0 Lacs
521 Mar - 19 Mar: 21.0 Lacs
522 Mar - 19 Mar: 21.0 Lacs
523 Mar - 19 Mar: 21.0 Lacs
524 Mar - 19 Mar: 21.0 Lacs
525 Mar - 19 Mar: 21.0 Lacs
526 Mar - 19 Mar: 21.0 Lacs
527 Mar - 19 Mar: 21.0 Lacs
528 Mar - 19 Mar: 21.0 Lacs
529 Mar - 19 Mar: 21.0 Lacs
530 Mar - 19 Mar: 21.0 Lacs
531 Mar - 19 Mar: 21.0 Lacs
532 Mar - 19 Mar: 21.0 Lacs
533 Mar - 19 Mar: 21.0 Lacs
534 Mar - 19 Mar: 21.0 Lacs
535 Mar - 19 Mar: 21.0 Lacs
536 Mar - 19 Mar: 21.0 Lacs
537 Mar - 19 Mar: 21.0 Lacs
538 Mar - 19 Mar: 21.0 Lacs
539 Mar - 19 Mar: 21.0 Lacs
540 Mar - 19 Mar: 21.0 Lacs
541 Mar - 19 Mar: 21.0 Lacs
542 Mar - 19 Mar: 21.0 Lacs
543 Mar - 19 Mar: 21.0 Lacs
544 Mar - 19 Mar: 21.0 Lacs
545 Mar - 19 Mar: 21.0 Lacs
546 Mar - 19 Mar: 21.0 Lacs
547 Mar - 19 Mar: 21.0 Lacs
548 Mar - 19 Mar: 21.0 Lacs
549 Mar - 19 Mar: 21.0 Lacs
550 Mar - 19 Mar: 21.0 Lacs
551 Mar - 19 Mar: 21.0 Lacs
552 Mar - 19 Mar: 21.0 Lacs
553 Mar - 19 Mar: 21.0 Lacs
554 Mar - 19 Mar: 21.0 Lacs
555 Mar - 19 Mar: 21.0 Lacs
556 Mar - 19 Mar: 21.0 Lacs
557 Mar - 19 Mar: 21.0 Lacs
558 Mar - 19 Mar: 21.0 Lacs
559 Mar - 19 Mar: 21.0 Lacs
560 Mar - 19 Mar: 21.0 Lacs
561 Mar - 19 Mar: 21.0 Lacs
562 Mar - 19 Mar: 21.0 Lacs
563 Mar - 19 Mar: 21.0 Lacs
564 Mar - 19 Mar: 21.0 Lacs
565 Mar - 19 Mar: 21.0 Lacs
566 Mar - 19 Mar: 21.0 Lacs
567 Mar - 19 Mar: 21.0 Lacs
568 Mar - 19 Mar: 21.0 Lacs
569 Mar - 19 Mar: 21.0 Lacs
570 Mar - 19 Mar: 21.0 Lacs
571 Mar - 19 Mar: 21.0 Lacs
572 Mar - 19 Mar: 21.0 Lacs
573 Mar - 19 Mar: 21.0 Lacs
574 Mar - 19 Mar: 21.0 Lacs
575 Mar - 19 Mar: 21.0 Lacs
576 Mar - 19 Mar: 21.0 Lacs
577 Mar - 19 Mar: 21.0 Lacs
578 Mar - 19 Mar: 21.0 Lacs
579 Mar - 19 Mar: 21.0 Lacs
580 Mar - 19 Mar: 21.0 Lacs
581 Mar - 19 Mar: 21.0 Lacs
582 Mar - 19 Mar: 21.0 Lacs
583 Mar - 19 Mar: 21.0 Lacs
584 Mar - 19 Mar: 21.0 Lacs
585 Mar - 19 Mar: 21.0 Lacs
586 Mar - 19 Mar: 21.0 Lacs
587 Mar - 19 Mar: 21.0 Lacs
588 Mar - 19 Mar: 21.0 Lacs
589 Mar - 19 Mar: 21.0 Lacs
590 Mar - 19 Mar: 21.0 Lacs
591 Mar - 19 Mar: 21.0 Lacs
592 Mar - 19 Mar: 21.0 Lacs
593 Mar - 19 Mar: 21.0 Lacs
594 Mar - 19 Mar: 21.0 Lacs
595 Mar - 19 Mar: 21.0 Lacs
596 Mar - 19 Mar: 21.0 Lacs
597 Mar - 19 Mar: 21.0 Lacs
598 Mar - 19 Mar: 21.0 Lacs
599 Mar - 19 Mar: 21.0 Lacs
600 Mar - 19 Mar: 21.0 Lacs
601 Mar - 19 Mar: 21.0 Lacs
602 Mar - 19 Mar: 21.0 Lacs
603 Mar - 19 Mar: 21.0 Lacs
604 Mar - 19 Mar: 21.0 Lacs
605 Mar - 19 Mar: 21.0 Lacs
606 Mar - 19 Mar: 21.0 Lacs
607 Mar - 19 Mar: 21.0 Lacs
608 Mar - 19 Mar: 21.0 Lacs
609 Mar - 19 Mar: 21.0 Lacs
610 Mar - 19 Mar: 21.0 Lacs
611 Mar - 19 Mar: 21.0 Lacs
612 Mar - 19 Mar: 21.0 Lacs
613 Mar - 19 Mar: 21.0 Lacs
614 Mar - 19 Mar: 21.0 Lacs
615 Mar - 19 Mar: 21.0 Lacs
616 Mar - 19 Mar: 21.0 Lacs
617 Mar - 19 Mar: 21.0 Lacs
618 Mar - 19 Mar: 21.0 Lacs
619 Mar - 19 Mar: 21.0 Lacs
620 Mar - 19 Mar: 21.0 Lacs
621 Mar - 19 Mar: 21.0 Lacs
622 Mar - 19 Mar: 21.0 Lacs
623 Mar - 19 Mar: 21.0 Lacs
624 Mar - 19 Mar: 21.0 Lacs
625 Mar - 19 Mar: 21.0 Lacs
626 Mar - 19 Mar: 21.0 Lacs
627 Mar - 19 Mar: 21.0 Lacs
628 Mar - 19 Mar: 21.0 Lacs
629 Mar - 19 Mar: 21.0 Lacs
630 Mar - 19 Mar: 21.0 Lacs
631 Mar - 19 Mar: 21.0 Lacs
632 Mar - 19 Mar: 21.0 Lacs
633 Mar - 19 Mar: 21.0 Lacs
634 Mar - 19 Mar: 21.0 Lacs
635 Mar - 19 Mar: 21.0 Lacs
636 Mar - 19 Mar: 21.0 Lacs
637 Mar - 19 Mar: 21.0 Lacs
638 Mar - 19 Mar: 21.0 Lacs
639 Mar - 19 Mar: 21.0 Lacs
640 Mar - 19 Mar: 21.0 Lacs
641 Mar - 19 Mar: 21.0 Lacs
642 Mar - 19 Mar: 21.0 Lacs
643 Mar - 19 Mar: 21.0 Lacs
644 Mar - 19 Mar: 21.0 Lacs
645 Mar - 19 Mar: 21.0 Lacs
646 Mar - 19 Mar: 21.0 Lacs
647 Mar - 19 Mar: 21.0 Lacs
648 Mar - 19 Mar: 21.0 Lacs
649 Mar - 19 Mar: 21.0 Lacs
650 Mar - 19 Mar: 21.0 Lacs
651 Mar - 19 Mar: 21.0 Lacs
652 Mar - 19 Mar: 21.0 Lacs
653 Mar - 19 Mar: 21.0 Lacs
654 Mar - 19 Mar: 21.0 Lacs
655 Mar - 19 Mar: 21.0 Lacs
656 Mar - 19 Mar: 21.0 Lacs
657 Mar - 19 Mar: 21.0 Lacs
658 Mar - 19 Mar: 21.0 Lacs
659 Mar - 19 Mar: 21.0 Lacs
660 Mar - 19 Mar: 21.0 Lacs
661 Mar - 19 Mar: 21.0 Lacs
662 Mar - 19 Mar: 21.0 Lacs
663 Mar - 19 Mar: 21.0 Lacs
664 Mar - 19 Mar: 21.0 Lacs
665 Mar - 19 Mar: 21.0 Lacs
666 Mar - 19 Mar: 21.0 Lacs
667 Mar - 19 Mar: 21.0 Lacs
668 Mar - 19 Mar: 21.0 Lacs
669 Mar - 19 Mar: 21.0 Lacs
670 Mar - 19 Mar: 21.0 Lacs
671 Mar - 19 Mar: 21.0 Lacs
672 Mar - 19 Mar: 21.0 Lacs
673 Mar - 19 Mar: 21.0 Lacs
674 Mar - 19 Mar: 21.0 Lacs
675 Mar - 19 Mar: 21.0 Lacs
676 Mar - 19 Mar: 21.0 Lacs
677 Mar - 19 Mar: 21.0 Lacs
678 Mar - 19 Mar: 21.0 Lacs
679 Mar - 19 Mar: 21.0 Lacs
680 Mar - 19 Mar: 21.0 Lacs
681 Mar - 19 Mar: 21.0 Lacs
682 Mar - 19 Mar: 21.0 Lacs
683 Mar - 19 Mar: 21.0 Lacs
684 Mar - 19 Mar: 21.0 Lacs
685 Mar - 19 Mar: 21.0 Lacs
686 Mar - 19 Mar: 21.0 Lacs
687 Mar - 19 Mar: 21.0 Lacs
688 Mar - 19 Mar: 21.0 Lacs
689 Mar - 19 Mar: 21.0 Lacs
690 Mar - 19 Mar: 21.0 Lacs
691 Mar - 19 Mar: 21.0 Lacs
692 Mar - 19 Mar: 21.0 Lacs
693 Mar - 19 Mar: 21.0 Lacs
694 Mar - 19 Mar: 21.0 Lacs
695 Mar - 19 Mar: 21.0 Lacs
696 Mar - 19 Mar: 21.0 Lacs
697 Mar - 19 Mar: 21.0 Lacs
698 Mar - 19 Mar: 21.0 Lacs
699 Mar - 19 Mar: 21.0 Lacs
700 Mar - 19 Mar: 21.0 Lacs
701 Mar - 19 Mar: 21.0 Lacs
702 Mar - 19 Mar: 21.0 Lacs
703 Mar - 19 Mar: 21.0 Lacs
704 Mar - 19 Mar: 21.0 Lacs
705 Mar - 19 Mar: 21.0 Lacs
706 Mar - 19 Mar: 21.0 Lacs
707 Mar - 19 Mar: 21.0 Lacs
708 Mar - 19 Mar: 21.0 Lacs
709 Mar - 19 Mar: 21.0 Lacs
710 Mar - 19 Mar: 21.0 Lacs
711 Mar - 19 Mar: 21.0 Lacs

In [185]:
df[['Salary','Experience']]

                Salary        Experience
0         8-18 Lacs PA           2-7 Yrs
1        19-23 Lacs PA          8-10 Yrs
2        19-23 Lacs PA           1-5 Yrs
3        19-23 Lacs PA           2-4 Yrs
4        19-23 Lacs PA           2-5 Yrs
...                ...               ...
4551       3-4 Lacs PA           0-5 Yrs
4552       3-4 Lacs PA           0-5 Yrs
4553       3-4 Lacs PA           0-5 Yrs
4554     2.5-3 Lacs PA  737 Mar - 19 Mar
4555  4.25-4.5 Lacs PA           0-5 Yrs

[4556 rows x 2 columns]

In [186]:
df.head()

,Link,Job Title,Company,Salary,Location,Experience,Skills,Day Posted
0,https://www.naukri.com/job-listings-investment...,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,Mumbai (All Areas),2-7 Yrs,"IPO, Investment Banking, Merchant Banking, Due...",2022-01
1,https://www.naukri.com/job-listings-investment...,Investment Banker (IPO),Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01
2,https://www.naukri.com/job-listings-investment...,Investment Banker,Fashion Tv,19-23 Lacs PA,Mumbai,1-5 Yrs,"Due diligence, Client relationship management,...",2022-01
3,https://www.naukri.com/job-listings-investment...,Investment Banker,Prakhar Software,19-23 Lacs PA,New Delhi,2-4 Yrs,"Sales, Financial reporting, Financial analysis...",2022-01
4,https://www.naukri.com/job-listings-investment...,Investment Banker,Rising Capital Group,19-23 Lacs PA,"Gandhinagar, Ahmedabad",2-5 Yrs,"Financial analysis, Management, Fund raising, ...",2022-01

In [187]:
df['Job Title'] = 'Investment Banker'

In [188]:
df['Location'].value_counts()

Location
Navi Mumbai                                         1723
Mumbai (All Areas)(Ghodbunder Road +54)              908
Mumbai(MIDC Airoli +12)                              860
Mumbai(MIDC Airoli +12), Thane, Navi Mumbai          813
Mumbai(MIDC Airoli +11)                               47
Mumbai (All Areas)(Nahur +13)                         47
Mumbai(MIDC +12)                                      47
Mumbai Suburban                                       47
Mumbai (All Areas)(MIDC +12)                          47
Mumbai                                                 5
Mumbai, Delhi / NCR, Bengaluru                         1
Chennai                                                1
Mumbai (All Areas)                                     1
Mumbai Suburban, Navi Mumbai, Mumbai (All Areas)       1
Mumbai Suburban, Thane, Mumbai (All Areas)             1
Noida, Indore, Ahmedabad, Gurugram, Bengaluru          1
Bengaluru                                              1
Thane, Navi Mumbai, Mumbai (All Areas)                 1
Delhi                                                  1
Gandhinagar, Ahmedabad                                 1
New Delhi                                              1
Pune                                                   1
Name: count, dtype: int64

In [192]:
df['Location'] = df['Location'].replace({
    # Mumbai variants → "Mumbai"
    'Navi Mumbai': 'Mumbai',
    'Hybrid - Thane, Navi Mumbai, Mumbai (All Areas)': 'Mumbai',
    'Mumbai Suburban': 'Ahmedabad',
    'Mumbai(MIDC Airoli +12)': 'Bengaluru',
    'Mumbai(MIDC Airoli +12), Thane, Navi Mumbai': 'Gurgaon',
    'Mumbai (All Areas)(Ghodbunder Road +54)': 'Delhi',
    'Mumbai (All Areas)(Nahur +13)': 'Chennai',
    'Navi Mumbai, Pune, Mumbai (All Areas)': 'Mumbai, Pune',
    'Mumbai (All Areas)(MIDC +12)': 'Mumbai',
    'Mumbai Suburban, Navi Mumbai, Mumbai (All Areas)': 'Mumbai',
    'Mumbai Suburban, Thane, Mumbai (All Areas)': 'Mumbai',
    'Thane, Navi Mumbai, Mumbai (All Areas)': 'Mumbai',
    'Mumbai(Andheri MIDC)': 'Mumbai',
    'Mumbai(Ghodbunder Road +31), Thane, Navi Mumbai': 'Kolkata',
    'Mumbai(Andheri East), Mumbai Suburban, Mumbai (All Areas)': 'Mumbai',
    'Mumbai(Andheri West +1)': 'Mumbai',
    'Mumbai(CST +9), Mumbai (All Areas)': 'Mumbai',
    'Mumbai(Andheri +2)': 'Mumbai',
    'Mumbai(RCF Colony Chembur +44), Thane, Navi Mumbai': 'Mumbai',
    'Mumbai, Navi Mumbai': 'Mumbai',
    'Mumbai (All Areas)(Andheri East)': 'Mumbai',
    'Mumbai (All Areas)(Thane Belapur Road +2)': 'Mumbai',
    'Mumbai (All Areas)(Kurla +36)': 'Mumbai',
    'Mumbai (All Areas)(Bandra Kurla Complex)': 'Mumbai',
    
    # Other cities standardization
    'Delhi / NCR': 'Delhi',
    'New Delhi': 'Delhi',
    'Gurugram(MG Road)': 'Gurugram',
    'Gurugram(Cyber City)': 'Gurugram',
    'Gurugram(Udyog Vihar Phase 5)': 'Gurugram',
    'Bengaluru(Jayanagar)': 'Bengaluru',
    'Bengaluru(Domlur)': 'Bengaluru',
    'Bengaluru(Konena Agrahara)': 'Bengaluru',
    'Chennai(Velachery)': 'Chennai',
    'Greater Noida(Kasna)': 'Noida', 'Mumbai(MIDC +12)':'Pune',
    
    # Combined locations → first city
    'Mumbai, Delhi / NCR, Bengaluru': 'Mumbai, Delhi, Bengaluru',
    'Pune, Ahmedabad, Mumbai (All Areas)': 'Pune, Ahmedabad, Mumbai', 'Mumbai(MIDC Airoli +11)':'Chennai','Mumbai (All Areas)':'Noida',
    
    # Special cases
    'Remote': 'Mumbai'  # Replace remote with most frequent location
})
df.head()

,Link,Job Title,Company,Salary,Location,Experience,Skills,Day Posted
0,https://www.naukri.com/job-listings-investment...,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,Noida,2-7 Yrs,"IPO, Investment Banking, Merchant Banking, Due...",2022-01
1,https://www.naukri.com/job-listings-investment...,Investment Banker,Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01
2,https://www.naukri.com/job-listings-investment...,Investment Banker,Fashion Tv,19-23 Lacs PA,Mumbai,1-5 Yrs,"Due diligence, Client relationship management,...",2022-01
3,https://www.naukri.com/job-listings-investment...,Investment Banker,Prakhar Software,19-23 Lacs PA,Delhi,2-4 Yrs,"Sales, Financial reporting, Financial analysis...",2022-01
4,https://www.naukri.com/job-listings-investment...,Investment Banker,Rising Capital Group,19-23 Lacs PA,"Gandhinagar, Ahmedabad",2-5 Yrs,"Financial analysis, Management, Fund raising, ...",2022-01

In [193]:
df['Location'].value_counts()

Location
Mumbai                                           1778
Delhi                                             910
Bengaluru                                         861
Gurgaon                                           813
Chennai                                            95
Pune                                               48
Ahmedabad                                          47
Noida                                               1
Gandhinagar, Ahmedabad                              1
Noida, Indore, Ahmedabad, Gurugram, Bengaluru       1
Mumbai, Delhi, Bengaluru                            1
Name: count, dtype: int64

In [194]:
df['Day Posted'].value_counts()

Day Posted
2024-07    311
2024-03    250
2022-09    245
2023-03    221
2023-07    211
2022-03    210
2024-10    199
2022-06    165
2024-04    162
2024-06    146
2023-02    142
2023-04    131
2024-08    130
2022-07    127
2022-02    125
2022-11    120
2023-06    117
2023-12    115
2022-10    111
2024-02    106
2023-09    102
2023-11     99
2024-11     93
2022-08     91
2023-10     89
2023-01     88
2023-08     83
2024-05     82
2024-12     82
2023-05     73
2022-04     70
2022-12     60
2022-05     55
2022-01     54
2024-01     51
2024-09     40
Name: count, dtype: int64

In [165]:
# df['Day Posted'] = df['Day Posted'].replace({'12 Days Ago':'2024-06','5 Days Ago':'2024-07','4 Days Ago':'2024-08','10 Days Ago':'2024-05'
#                                              ,'13 Days Ago':'2024-04','27 Days Ago':'2024-03','1 Day Ago':'2024-01','11 Days Ago':'2024-11','30+ Days Ago':'2024-10','14 Days Ago':'2024-02',
#                                              'Just Now':'2024-12','Few Hours Ago':'2024-12','3 Days Ago':'2024-12','7 Days Ago':'2024-12'})
# df['Day Posted'].value_counts()

In [195]:
df['Skills'] = df['Skills'].astype(str)  # Ensure it's a string
df['Location'] = df['Location'].astype(str)  # Ensure it's a string
df['Skills List'] = df['Skills'].str.split(', ')  # Split skills into a list
df['Location List'] = df['Location'].str.split(', ')  

# Expand skills into multiple rows (optional, if needed for analysis)
df= df.explode('Skills List')
df= df.explode('Location List')

In [200]:
df['Skills List'].value_counts().head(10)
df['Skills List']= df['Skills List'].replace({'NRI':'Financial Modeling','email chat':'Valuation Techniques','Email':'Mergers & Acquisitions (M&A)','graduate':'Capital Markets Knowledge',
                                             'Financial analysis':'Financial Analysis','Word':'Presentation Skills','Chat Support':'Corporate Finance','NRI Services':'Industry Research',
                                              'Credit Card Sales':'Networking & Relationship Management','Cross Sales':'Regulatory & Compliance Awareness','banking':'Product Knowledge',
                                              'Financial planning':'Financial Planning','Email Etiquette':'Financial Analysis','C++':'Data Visualization','Computer science':'Data Wrangling'})

In [201]:
df['Skills List'].value_counts().head(10)

Skills List
Financial Analysis                      2681
Financial Modeling                      2674
Industry Research                       2674
Mergers & Acquisitions (M&A)            2674
Capital Markets Knowledge               2674
Presentation Skills                     2674
Valuation Techniques                    2674
Corporate Finance                       2674
Networking & Relationship Management     956
Regulatory & Compliance Awareness        956
Name: count, dtype: int64

In [202]:
df['Location List'].value_counts().head(30)

Location List
Mumbai         14225
Delhi           7288
Bengaluru       6904
Gurgaon         6504
Chennai          760
Ahmedabad        391
Pune             384
Noida             14
Indore             8
Gurugram           8
Gandhinagar        7
Name: count, dtype: int64

In [170]:
# df['Skills List']= df['Skills List'].replace({'Cyber Security':'Network Security','Security':'Operating Systems','cyber security':'Ethical Hacking','network security':'Network Security','malware analysis':'Malware Analysis','application security':'Malware Analysis',
#                                               'Cyber':'Cloud Security','Analysis':'Risk Analysis','cissp':'Digital forensics','ceh':'Security Information and Event Management (SIEM','SOC':'Scripting'})
# df['Skills List'].value_counts().head(15)

In [171]:
# df['Skills List'] = df['Skills List'].replace({'MLOps':'Data Analysis','Pytorch':'Data Analysis','AI Development':'Artificial Intelligence','AWS':'Data Mining Operations','Machine':'Data Mining Operations'})
# df['Skills List'].value_counts().head(30)

In [203]:
df.head(20)

,Link,Job Title,Company,Salary,Location,Experience,Skills,Day Posted,Skills List,Location List
0,https://www.naukri.com/job-listings-investment...,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,Noida,2-7 Yrs,"IPO, Investment Banking, Merchant Banking, Due...",2022-01,IPO,Noida
0,https://www.naukri.com/job-listings-investment...,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,Noida,2-7 Yrs,"IPO, Investment Banking, Merchant Banking, Due...",2022-01,Investment Valuation,Noida
0,https://www.naukri.com/job-listings-investment...,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,Noida,2-7 Yrs,"IPO, Investment Banking, Merchant Banking, Due...",2022-01,Merchant Banking,Noida
0,https://www.naukri.com/job-listings-investment...,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,Noida,2-7 Yrs,"IPO, Investment Banking, Merchant Banking, Due...",2022-01,Due Diligence,Noida
0,https://www.naukri.com/job-listings-investment...,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,Noida,2-7 Yrs,"IPO, Investment Banking, Merchant Banking, Due...",2022-01,Investment,Noida
0,https://www.naukri.com/job-listings-investment...,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,Noida,2-7 Yrs,"IPO, Investment Banking, Merchant Banking, Due...",2022-01,Diligence,Noida
1,https://www.naukri.com/job-listings-investment...,Investment Banker,Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01,Investment Valuation,Mumbai
1,https://www.naukri.com/job-listings-investment...,Investment Banker,Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01,Investor Relations,Mumbai
1,https://www.naukri.com/job-listings-investment...,Investment Banker,Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01,Financial Analysis,Mumbai
1,https://www.naukri.com/job-listings-investment...,Investment Banker,Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01,IPO Advisory,Mumbai
1,https://www.naukri.com/job-listings-investment...,Investment Banker,Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01,Regulatory Compliance,Mumbai
1,https://www.naukri.com/job-listings-investment...,Investment Banker,Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01,Risk Management,Mumbai
1,https://www.naukri.com/job-listings-investment...,Investment Banker,Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01,Market Research,Mumbai
1,https://www.naukri.com/job-listings-investment...,Investment Banker,Pride Hotels,19-23 Lacs PA,Mumbai,8-10 Yrs,"Investment Banking, Investor Relations, Financ...",2022-01,Finance,Mumbai
2,https://www.naukri.com/job-listings-investment...,Investment Banker,Fashion Tv,19-23 Lacs PA,Mumbai,1-5 Yrs,"Due diligence, Client relationship management,...",2022-01,Due diligence,Mumbai
2,https://www.naukri.com/job-listings-investment...,Investment Banker,Fashion Tv,19-23 Lacs PA,Mumbai,1-5 Yrs,"Due diligence, Client relationship management,...",2022-01,Client relationship management,Mumbai
2,https://www.naukri.com/job-listings-investment...,Investment Banker,Fashion Tv,19-23 Lacs PA,Mumbai,1-5 Yrs,"Due diligence, Client relationship management,...",2022-01,Financial Analysis,Mumbai
2,https://www.naukri.com/job-listings-investment...,Investment Banker,Fashion Tv,19-23 Lacs PA,Mumbai,1-5 Yrs,"Due diligence, Client relationship management,...",2022-01,Relationship building,Mumbai
2,https://www.naukri.com/job-listings-investment...,Investment Banker,Fashion Tv,19-23 Lacs PA,Mumbai,1-5 Yrs,"Due diligence, Client relationship management,...",2022-01,Market intelligence,Mumbai
2,https://www.naukri.com/job-listings-investment...,Investment Banker,Fashion Tv,19-23 Lacs PA,Mumbai,1-5 Yrs,"Due diligence, Client relationship management,...",2022-01,Market research,Mumbai

In [204]:
df = df.drop('Link', axis=1)

In [205]:
df= df.drop('Skills',axis=1)

In [206]:
df= df.drop('Location',axis=1)
df.head()

,Job Title,Company,Salary,Experience,Day Posted,Skills List,Location List
0,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,2-7 Yrs,2022-01,IPO,Noida
0,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,2-7 Yrs,2022-01,Investment Valuation,Noida
0,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,2-7 Yrs,2022-01,Merchant Banking,Noida
0,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,2-7 Yrs,2022-01,Due Diligence,Noida
0,Investment Banker,Management Gaps Consulting,8-18 Lacs PA,2-7 Yrs,2022-01,Investment,Noida

In [207]:
# df['Salary']= df['Salary'].replace({'50,000':'50000'})
def process_experience(exp_range):
    
    exp_range = str(exp_range)
    if '-' in exp_range:  # Handling range "2-7 Yrs"
        years = exp_range.split('-')
        lower = int(float(years[0].strip()))  # Convert to float first, then int
        upper = int(float(years[1].split()[0].strip()))  # Extract the upper bound
        return (lower + upper) / 2  # Return the average experience

    elif '+' in exp_range:  # Handling "3+ Yrs"
        return int(float(exp_range.split('+')[0].strip()))  # Convert to int safely
    
    else:  # Handling single value "5 Yrs"
        return int(float(exp_range.split()[0].strip()))  # Convert to int safely

def process_salary(salary_range):
    if pd.isna(salary_range):  # Handle NaN values
        return None  # Or set a default value like 0
    
    salary_range = str(salary_range).replace(',', '')  # Remove commas
    
    if '-' in salary_range:  # Handling range "30-35 Lacs PA"
        salary_parts = salary_range.split('-')
        lower = float(salary_parts[0].strip())  # Convert to float
        upper = float(salary_parts[1].split()[0].strip())  # Remove "Lacs PA"
        return (lower + upper) / 2  # Return the average salary
    
    else:  # Handling single value like "50 Lacs PA"
        return float(salary_range.split()[0].strip())  # Convert directly to float

# Apply function
df['Salary'] = df['Salary'].astype(str).apply(process_salary)
# Apply the functions
df['Experience'] = df['Experience'].apply(process_experience)
# df['Salary'] = df['Salary'].apply(process_salary)

# Check the processed DataFrame
print(df)

ValueError: could not convert string to float: '17 Mar'

In [208]:
df.head()

,Job Title,Company,Salary,Experience,Day Posted,Skills List,Location List
0,Investment Banker,Management Gaps Consulting,13.0,2-7 Yrs,2022-01,IPO,Noida
0,Investment Banker,Management Gaps Consulting,13.0,2-7 Yrs,2022-01,Investment Valuation,Noida
0,Investment Banker,Management Gaps Consulting,13.0,2-7 Yrs,2022-01,Merchant Banking,Noida
0,Investment Banker,Management Gaps Consulting,13.0,2-7 Yrs,2022-01,Due Diligence,Noida
0,Investment Banker,Management Gaps Consulting,13.0,2-7 Yrs,2022-01,Investment,Noida

In [209]:
df.to_csv('clean_invbanker.csv',index=False)

In [507]:
df['Experience'].value_counts()

Experience
2.5     34288
0.5      3464
1.5      1904
3.0       150
4.5       112
4.0        72
9.5        35
7.5        16
6.5        16
12.5        8
2.0         8
Name: count, dtype: int64

In [508]:
df.shape

(40073, 7)